<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="motivator">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>The Motivator</title>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />

    <link rel="stylesheet" href="css/style.css" type="text/css" />

    <script src="js/lib/jquery-2.2.3.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/random.min.js"></script>
    <script src="js/lib/wikiquote-api.js"></script>
    <script src="js/lib/moment.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/motivator.js"></script>

</head>

<body ng-controller="MotivatorController as mmotivator">
    <div class="container-fluid">
        <div class="col-md-2">
            <a ng-click="mmotivator.newQuote()" href="#"><b>New Quote</b></a>
            <br>
            <a ng-click="mmotivator.wikiQuote()" href="#"><b>New Wiki Quote</b></a>
            <br>
            <a ng-click="mmotivator.wikiQuote()" href="#"><b>New Image Quote</b></a>
        </div>
        <div class="col-md-8">
            <h1>The Motivator</h1>
            <h3>Be motivated!</h3>
            <br>
            <blockquote class="quote-card">
                <p ng-bind-html="mmotivator.getQuote().body | unsafe"></p>
                <footer ng-show="mmotivator.getQuote().source"><cite title="Source Title">{{ mmotivator.getQuote().source }}</cite></footer>
            </blockquote>
        </div>
        <div class="col-md-2 cl-right" ng-controller="BackEndController as backend">
            <div class="backendCaller">
                <a ng-click="backend.changeBackend()" href="#">BackEnd</a>
            </div>
            <div ng-show="backend.show" class="backend">
                aaa
            </div>
        </div>
    </div>
</body>

</html>
